USE [SILKROAD_R_SHARD_LOG]
GO
/****** Object:  StoredProcedure [dbo].[_InsertLogChatMessage]    Script Date: 4/17/2025 12:10:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[_InsertLogChatMessage]
--	@ShardID  INT,
	@ShardName		VARCHAR(64),
	@CharName		NVARCHAR(64),
	-- #ifdef SMC_CHAT_MONITERING_ADD_WHISPER
	@TargetName		NVARCHAR(64),
	-- #endif // SMC_CHAT_MONITERING_ADD_WHISPER
	@ContinentName  VARCHAR(128),
	@Comment		NVARCHAR(128)
AS

-- #ifdef SMC_CHAT_MONITERING_ADD_WHISPER
	INSERT [dbo].[_LogChatMessage] VALUES ( @ShardName, GetDate(), @CharName, @TargetName, @ContinentName, @Comment )
-- #else // SMC_CHAT_MONITERING_ADD_WHISPER
	--INSERT [dbo].[_LogChatMessage] VALUES( @ShardName, GetDate(), @CharName, @ContinentName, @Comment )
-- #endif // SMC_CHAT_MONITERING_ADD_WHISPER
