USE [SILKROAD_R_SHARD_LOG]
GO

/****** Object:  Table [dbo].[_LogChatMessage]    Script Date: 4/17/2025 12:06:22 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

DROP TABLE [dbo].[_LogChatMessage]
CREATE TABLE [dbo].[_LogChatMessage](
    [ShardName] [varchar](64) NOT NULL,
    [EventTime] [datetime] NOT NULL,
    [CharName] [nvarchar](64) NOT NULL,
    [TargetName] [nvarchar](64) NOT NULL,
    [ContinentName] [varchar](128) NOT NULL,
    [Comment] [nvarchar](128) NULL
    ) ON [PRIMARY]
    GO


