.sro-item-detail {
	background: #808080;
	width: 38px;
	margin: 0 auto;
}

.sro-item-detail.sro-item-special {
	background: #FF8C00;
}

.sro-item-detail.sro-item-special .sro-item-special-seal {
	z-index: 4;
}

.sro-item-detail .item {
	width: 32px;
	height: 32px;
	float: left;
	margin: 3px;
	padding: 0 !important;
	color: #fff;
	background: #5f5f5f;
	position: relative;
}
.sro-item-detail .item img {
	position: absolute;
}

.sro-item-detail .item .amount {
	background: rgba(50, 50, 50, 0.5);
	padding: 1px 2px;
	float: left;
	font-size: 11px;
}

.sro-item-detail .info {
	color: #fff;
	z-index: 80;
	position: absolute;
	left: 34px;
	top: 3px;
	width: 180px;
	background: rgba(88, 98, 170, 0.85);
	border: 2px solid #303d4d;
	padding: 5px;
	display: none;
	line-height: 18px;
	font-size: 10px;
}

.table.table-inventory td, .table.table-inventory th {
	padding: 4px;
}

.sro-item-detail .tooltip {
	font-size: 10px;
	line-height: 15px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	position: fixed;
	padding: 5px;
	border: 1px solid #ccc;
	visibility: hidden;
	box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
	opacity: 0;
	transition:
			opacity 0.3s,
			visiblity 0s;
}
.sro-item-detail:hover .tooltip {
	visibility: visible;
	opacity: 1;
}

/********CUSTOM INV********/
.sro-item-detail .tooltip {
    text-align: left !important;
    font-size: 12px;
    width: 270px;
    min-height: 200px;
    background-color: rgba(28, 30, 52, .8);
    color: #fff;
    padding: 6px;
    border: 1px solid #808bba;
    border-radius: 5px;
    box-shadow: none;
    z-index: 999;
}

.table.table-inventory {
    margin: 0;
    width: 178px;
}
.table.table-inventory tr:first-child td {
    padding: 12px 12px 35px;
}
.table.table-inventory td, .table.table-inventory th {
    padding: 5.5px 5px;
}
.sro-item-detail.sro-item-special {
    background: 0;
}
.sro-item-detail {
    background: 0;
    width: auto;
    margin: 0;
}
.table.table-inventory td:last-child {
    float: right;
}
.sro-item-detail .item {
    margin: 0;
    background: 0;
}

/********CUSTOM INV AVATAR********/
.table.table-inventory-avatar {
    margin: -5px auto 12px;
    width: 158px;
}
.table.table-inventory-avatar tbody {
    display: flex;
}
.table.table-inventory-avatar tr:first-child td {
    padding: 6px;
}
.table.table-inventory-avatar td, .table.table-inventory-avatar th {
    padding: 6px;
}
.table.table-inventory-avatar td:last-child {
    float: right;
}
